<div>
    <button id="close-button">X</button>
    <div>{{user.email}}</div>
    <div>{{user.phone}}</div>
    <div>{{user.userId}}</div>
    <div id="pay-info"></div>
    <div id="pay-errors"></div>
</div>